[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyspark = "==2.4.0"
pybuilder = "*"

[packages]
hypothesis = "*"
sparkle-test = "*"
sparkle-session = {editable = true,path = "/Users/machiel/dev/workspace/spark/sparkle-session/target/dist/sparkle-session-1.0.0.dev"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
